html {
    height: 100%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 220, 221);
}

main {
    flex-grow: 1;
}
a {
    text-decoration: none;
    color: #333;
}
header {
    display: flex; /* Utiliza flexbox para distribuir los elementos */
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
    justify-content: space-between; /* Coloca espacio entre los elementos (a la izquierda y a la derecha) */
    background-color: rgb(238, 189, 171);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline; /* Muestra los elementos de navegación en línea (uno después del otro) */
    margin-right: 20px; /* Espacio entre elementos de navegación */
}
h2{
    text-align: center;
}
img {
    max-width: 10%;
    height: auto;
}
article.producto {
    display: flex;
    margin-bottom: 4%;
}
footer#main a{
    color: white;
}
footer#main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333; /* Color de fondo del footer */
    color: white; /* Color del texto del footer */
    text-align: center;
    padding: 10px;
}